
S3method(coef,irtlink_calib)
S3method(coef,irtlink_dif)
S3method(coef,irtlink_link)
S3method(coef,irtlink_trend)
S3method(plot,irtlink_dif)
S3method(plot,irtlink_link)
S3method(plot,irtlink_trend)
S3method(print,irtlink_bootstrap_vcov)
S3method(print,irtlink_calib)
S3method(print,irtlink_design)
S3method(print,irtlink_dif)
S3method(print,irtlink_link)
S3method(print,irtlink_stacked_vcov)
S3method(print,irtlink_trend)
S3method(summary,irtlink_calib)
S3method(summary,irtlink_dif)
S3method(summary,irtlink_link)
S3method(summary,irtlink_trend)
export(calibrate)
export(dependent_vcov)
export(detect_dif)
export(estimate_trend)
export(link_groups)
export(linking_design)
export(linking_error)
export(person_scores)
export(sim_trend_data)
importFrom(Rcpp,sourceCpp)
importFrom(stats,aggregate)
importFrom(stats,dnorm)
importFrom(stats,plogis)
importFrom(stats,rbinom)
importFrom(stats,rnorm)
importFrom(stats,setNames)
useDynLib(irtlink, .registration = TRUE)
